<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<bean id="tablet" class="com.xworkz.things.Tablet"></bean>
	<bean id="purifier" class="com.xworkz.things.Purifier"></bean>
	<bean id="steamer" class="com.xworkz.things.Steamer"></bean>
	<bean id="tissue" class="com.xworkz.things.Tissue"></bean>
	<bean id="oximeter" class="com.xworkz.things.Oximeter"></bean>
	<bean id="paint" class="com.xworkz.things.Paint"></bean>
	<bean id="sanitizer" class="com.xworkz.things.Sanitizer"></bean>
	<bean id="mask" class="com.xworkz.things.Mask"></bean>
	<bean id="simcard" class="com.xworkz.things.Simcard"></bean>
	


</beans>